

/*???*/@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100vh;
   
    background-color: rgb(1, 97, 135);   /*experimental*/ 
    /* background-color: rgb(4, 58, 79);*/
    

}

nav
{
    background-color: rgb(0, 183, 255);
    display: flex;
    justify-content: space-between;
    height: 180px;
    width: 100%;
    align-items: center;   
    border-bottom: 2px solid cyan;
    box-shadow: 0 10px 25px rgba(0,255,255,0.3);

}

#right
{
    display: flex;
    align-items: center;   
    justify-content: space-evenly;
    width: 1030px; 
    
}

#right .navButton
{
    width: 180px;
    height: 70px;
    padding: 5px;
    background-color: rgb(0, 255, 255);
    font-size: 28px;
     font-family: "Russo One", sans-serif;
    font-weight: 1000;
    font-style: normal;
    color:rgb(4, 58, 79);
    letter-spacing: 3px;
    border: solid 5px rgb(4, 58, 79);
    border-radius: 35px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

}
#right .navButton:hover
{

    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0,255,255,0.7);
    border-color: cyan;

}
#left
{   
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#left #logo 
{
    
    width: 450px;
    height: auto;
    transition: all 0.2s ease-in;

}
#left #logo:hover
{
    transform: scale(1.1);
    
      filter: brightness(1.35) drop-shadow(0 0 35px rgb(255, 255, 255));

            
}

main 
{      
        
     display: flex;
    height: auto;
    width: 800px;
    padding: 20px;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: aqua;
    border: solid 5px rgb(4, 58, 79);
    border-radius: 35px;    
    box-shadow: 0 0 50px rgba(0,255,255,0.7),
                0 0 70px rgba(0,255,255,0.5),
                0 0 100px rgba(0,255,255,0.3);
    text-align: center;
    margin: 80px;
       
        

}
main h1
{
    color: rgb(4, 58, 79);
    font-size: 50px;
     
    font-family: "Russo One", sans-serif;
    font-weight: 1000;
    font-style: normal;
    cursor: default;
    margin: 0;

}

main h2
{
 
    color:rgb(4, 58, 79);

    display: inline-block;

    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    
    font-size: 30px;
    margin: 0;

}
main p
{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 24px;
        text-align: center;

    color:rgb(4, 58, 79);

}

main label
{
 font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 25px;
    text-align: center;

    color:rgb(4, 58, 79);


}

main input
{
     width: 360px;
    height: 60px;
    padding: 5px;
     background-color: rgb(0, 183, 255);
    font-size: 28px;
     font-family: "Russo One", sans-serif;
    font-weight: 1000;
    font-style: normal;
    color:rgb(4, 58, 79);
    letter-spacing: 3px;
    border: solid 5px rgb(4, 58, 79);
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;


}

main input::placeholder
{
   color:rgb(4, 58, 79);
}

main textarea
{

      width: 660px;
    height: 200px;
    padding: 5px;
     background-color: rgb(0, 183, 255);
    font-size: 28px;
     font-family: "Russo One", sans-serif;
    font-weight: 1000;
    font-style: normal;
    color:rgb(4, 58, 79);
    letter-spacing: 3px;
    border: solid 5px rgb(4, 58, 79);
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;


}

main textarea::placeholder
{
       color:rgb(4, 58, 79);

}


main select
{

    
     width: 360px;
    height: 70px;
    padding: 5px;
     background-color: rgb(0, 183, 255);
    font-size: 28px;
     font-family: "Russo One", sans-serif;
    font-weight: 1000;
    font-style: normal;
    color:rgb(4, 58, 79);
    letter-spacing: 3px;
    border: solid 5px rgb(4, 58, 79);
    border-radius: 15px;
    cursor: pointer;

}

main button
{
    width: 180px;
    height: 70px;
    padding: 5px;
    background-color: rgb(0, 183, 255);
    font-size: 28px;
     font-family: "Russo One", sans-serif;
    font-weight: 1000;
    font-style: normal;
    color:rgb(4, 58, 79);
    letter-spacing: 3px;
    border: solid 5px rgb(4, 58, 79);
    border-radius: 35px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;


}







#footerMain
{   
    height: 240px;
    width: 100%;
    background-color:rgb(4, 58, 79);
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top:20px;  
    font-size: 20px;

    border-top: 2px solid cyan;
    box-shadow: 0 -10px 25px rgba(0,255,255,0.3);


}

#footerMain #links
{
   
    display: flex;
    flex-direction:column ;
    gap:5px;
    margin-left: 150px

}

#footerMain #links h2
{
    color:rgb(0, 183, 255);
    display: inline-block;

    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    
   

}
#footerMain #links a
{
    
    color:rgb(0, 183, 255);
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    text-decoration: none;
   

}


#footerMain #links a:hover
{
    color:rgb(122, 217, 255);
}



#footerMain #info
{
   
    display: flex;
    flex-direction:column ;
   
    margin-left: 150px;


    color:rgb(0, 183, 255);
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
   
}
#footerMain #info h2
{
    
    
    color:rgb(0, 183, 255);
    display: inline-block;    
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;


    margin-bottom: 5px;
    
}
#footerMain #info a
{

    color:rgb(0, 183, 255);
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;

    text-decoration: none;
}
#footerMain #info a:hover
{
    color:rgb(122, 217, 255);
}